:root {
    --main-font: RalewayB;
    --accent-font: LibreBaskerville;
    --main-gap: 24px;
    --color-text: #FFFFFF;
    --bckg-color: #000000;
    --accent-color: #440806;
    --bckg-projects: rgba(117, 117, 117, 0.95);
    --bckg-color-accent: #FFF;
    --bckg-img: url(../images/fon_chb.png);
    --bckg-img-cube: url(../images/cubs-chb.png);
    --cube-theme: url(../images/cubetheme_acriv_chb.png);
    --arrow-color: #ff8b57;
    overflow-x: hidden;
}